# <center>Series Indexing</center>

* [<span style='color:purple'>iloc[] method](#iloc[]-method)
* [<span style='color:purple'>loc[]method](#loc[]-method)
* [<span style='color:purple'>duplicate index values and resetting the index](#duplicate-index-values-and-resetting-the-index)
    * [<span style='color:purple'>Assignment 2: Accessing Series Data](#Assignment-2:-Accessing-Series-Data)

The **index** let you easily access rows in a pandas series or dataframe.

In [8]:
import numpy as np
import pandas as pd
sales_array =np.arange(10,100,10)

In [9]:
sales_array

array([10, 20, 30, 40, 50, 60, 70, 80, 90])

In [10]:
sales_series =pd.Series(sales_array,name='sales')

In [11]:
sales_series

0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
8    90
Name: sales, dtype: int32

In [13]:
sales_series[2:7]

2    30
3    40
4    50
5    60
6    70
Name: sales, dtype: int32

It is applicable to use custom index for accessing rows.

In [15]:
products=[10,20,30,40]

In [17]:
items =['coffee','chocolate','fruits','cake']

sales_series2 =pd.Series(products,index=items,name='series2')

In [18]:
sales_series2

coffee       10
chocolate    20
fruits       30
cake         40
Name: series2, dtype: int64

In [19]:
sales_series2['chocolate']

20

In [20]:
sales_series2.index

Index(['coffee', 'chocolate', 'fruits', 'cake'], dtype='object')

In [21]:
#slicing using custom index is liitle bit different compared to slicing with 
#integer index

sales_series2['coffee':'fruits']

coffee       10
chocolate    20
fruits       30
Name: series2, dtype: int64

In [22]:
sales_series2

coffee       10
chocolate    20
fruits       30
cake         40
Name: series2, dtype: int64

## iloc[] method

df.loc[row label,column label]

In [27]:
sales_series2.iloc[2]

30

In [26]:
sales_series2.iloc[1:3]

chocolate    20
fruits       30
Name: series2, dtype: int64

In [45]:
my_series =pd.Series([0,101,11,23,30],index=['week1','week2','week3','week4','week2'])

In [46]:
my_series

week1      0
week2    101
week3     11
week4     23
week2     30
dtype: int64

In [47]:
my_series.iloc[1]

101

## loc[] method

In [49]:
my_series.loc['week1':'week4']

week1      0
week2    101
week3     11
week4     23
dtype: int64

In [50]:
my_series.index

Index(['week1', 'week2', 'week3', 'week4', 'week2'], dtype='object')

In [51]:
my_series.reset_index(drop=True)

0      0
1    101
2     11
3     23
4     30
dtype: int64

## duplicate index values and resetting the index

In [52]:
my_series

week1      0
week2    101
week3     11
week4     23
week2     30
dtype: int64

In [54]:
my_series.reset_index()#by using this method reset the index with a integer

   index    0
0  week1    0
1  week2  101
2  week3   11
3  week4   23
4  week2   30

In [56]:
my_series.reset_index(drop=True)

0      0
1    101
2     11
3     23
4     30
dtype: int64

In [57]:
my_series.iloc[2]

11