# <center>Handling missing data</center>

In [1]:
import pandas as pd
import numpy as np

In [2]:
sales_data =[9,10,12,31,np.nan,49]

In [3]:
sales_series =pd.Series(sales_data,name='sales')

In [4]:
sales_series

0     9.0
1    10.0
2    12.0
3    31.0
4     NaN
5    49.0
Name: sales, dtype: float64

In [5]:
sales_series + 10

0    19.0
1    20.0
2    22.0
3    41.0
4     NaN
5    59.0
Name: sales, dtype: float64

In [6]:
sales_series.add(10,fill_value =0)

0    19.0
1    20.0
2    22.0
3    41.0
4    10.0
5    59.0
Name: sales, dtype: float64

In [7]:
sales =[0,19,21,23,pd.NA,71]

In [14]:
sales_series2 =pd.Series(sales,name='sales2',dtype='Int16')

In [16]:
sales_series2

0       0
1      19
2      21
3      23
4    <NA>
5      71
Name: sales2, dtype: Int16

In [18]:
sales_series2.isna()

0    False
1    False
2    False
3    False
4     True
5    False
Name: sales2, dtype: bool

In [19]:
# isna().sum() return the sum of nan values

sales_series.isna().sum()

1

In [22]:
sales_series2.value_counts(dropna =False)

0       1
19      1
21      1
23      1
71      1
<NA>    1
Name: sales2, dtype: Int64

In [27]:
sales_series.dropna()

0     9.0
1    10.0
2    12.0
3    31.0
5    49.0
Name: sales, dtype: float64

In [28]:
sales_series2.fillna(0)

0     0
1    19
2    21
3    23
4     0
5    71
Name: sales2, dtype: Int16

In [29]:
my_series =pd.Series(range(5))

In [32]:
my_series.iloc[1:2]=pd.NA

In [37]:
my_series

0    0.0
1    NaN
2    NaN
3    3.0
4    4.0
dtype: float64

In [36]:
my_series.fillna(my_series.mean().round(2))

0    0.00
1    2.33
2    2.33
3    3.00
4    4.00
dtype: float64

In [38]:
my_series

0    0.0
1    NaN
2    NaN
3    3.0
4    4.0
dtype: float64

In [41]:
my_series.dropna()

0    0.0
3    3.0
4    4.0
dtype: float64

In [42]:
my_series.dropna().reset_index(drop=True)

0    0.0
1    3.0
2    4.0
dtype: float64