# <center>Pandas Series Task

In [1]:
import numpy as np
import pandas as pd

# Assignment 1: Series Basics
 

* Convert `oil_array` into a Pandas Series, called `oil_series`. Give it a name!
* Return the name, dtype, size, and index of `oil_series`.

Take the mean of the values array. 

Then, convert the series to integer datatype and recalculate the mean.

In [2]:
# create a DataFrame from the oil file, drop missing values
oil = pd.read_csv("oil.csv").dropna()

In [3]:
oil

            date  dcoilwtico
1     2013-01-02       93.14
2     2013-01-03       92.97
3     2013-01-04       93.12
4     2013-01-07       93.20
5     2013-01-08       93.21
...          ...         ...
1213  2017-08-25       47.65
1214  2017-08-28       46.40
1215  2017-08-29       46.46
1216  2017-08-30       45.96
1217  2017-08-31       47.26

[1175 rows x 2 columns]

In [4]:
oil_array = np.array(oil["dcoilwtico"].iloc[1000:1100])

In [5]:
oil_array

array([52.22, 51.44, 51.98, 52.01, 52.82, 54.01, 53.8 , 53.75, 52.36,
       53.26, 53.77, 53.98, 51.95, 50.82, 52.19, 53.01, 52.36, 52.45,
       51.12, 51.39, 52.33, 52.77, 52.38, 52.14, 53.24, 53.18, 52.63,
       52.75, 53.9 , 53.55, 53.81, 53.01, 52.19, 52.37, 52.99, 53.84,
       52.96, 53.21, 53.11, 53.41, 53.41, 54.02, 53.61, 54.48, 53.99,
       54.04, 54.  , 53.82, 52.63, 53.33, 53.19, 52.68, 49.83, 48.75,
       48.05, 47.95, 47.24, 48.34, 48.3 , 48.34, 47.79, 47.02, 47.29,
       47.  , 47.3 , 47.02, 48.36, 49.47, 50.3 , 50.54, 50.25, 50.99,
       51.14, 51.69, 52.25, 53.06, 53.38, 53.12, 53.19, 52.62, 52.46,
       50.49, 50.26, 49.64, 48.9 , 49.22, 49.22, 48.96, 49.31, 48.83,
       47.65, 47.79, 45.55, 46.23, 46.46, 45.84, 47.28, 47.81, 47.83,
       48.86])

In [6]:
oil_series =pd.Series(oil_array,name="oil price")

In [7]:
oil_series

0     52.22
1     51.44
2     51.98
3     52.01
4     52.82
      ...
95    45.84
96    47.28
97    47.81
98    47.83
99    48.86
Name: oil price, Length: 100, dtype: float64

In [8]:
print("name of sereis --",oil_series.name)
print("datatype of series --",oil_series.dtype)
print("size od series--",oil_series.size)
print("index of series--",oil_series.index)

name of sereis -- oil price
datatype of series -- float64
size od series-- 100
index of series-- RangeIndex(start=0, stop=100, step=1)

In [9]:
print("mean --",oil_series.values.mean())

mean -- 51.128299999999996

In [10]:
oil_series.dtype

dtype('float64')

In [11]:
integer_oil =oil_series.astype('int').mean()

In [12]:
integer_oil

50.66

##  Assignment 2:  Accessing Series Data

* Set the date series, which has been created below, to be the index of the oil price series created in assignment 1.


* Then, take the mean of the first 10 and last 10 prices of the series.


* Finally, grab all oil prices from January 1st, 2017 - January 7th, 2017 (inclusive) and set the index to the default integer index.

In [13]:
oil_series

0     52.22
1     51.44
2     51.98
3     52.01
4     52.82
      ...
95    45.84
96    47.28
97    47.81
98    47.83
99    48.86
Name: oil price, Length: 100, dtype: float64

In [14]:
date_series=pd.Series(oil['date'].iloc[1000:1100])

In [15]:
date_series

1035    2016-12-20
1036    2016-12-21
1037    2016-12-22
1038    2016-12-23
1040    2016-12-27
           ...
1135    2017-05-09
1136    2017-05-10
1137    2017-05-11
1138    2017-05-12
1139    2017-05-15
Name: date, Length: 100, dtype: object

In [16]:
#Set the date series, which has been created , to be the index of the 
#oil price series created in assignment 1
oil_series.index=date_series

In [17]:
oil_series

date
2016-12-20    52.22
2016-12-21    51.44
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
              ...
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12    47.83
2017-05-15    48.86
Name: oil price, Length: 100, dtype: float64

In [18]:
oil_series.index

Index(['2016-12-20', '2016-12-21', '2016-12-22', '2016-12-23', '2016-12-27',
       '2016-12-28', '2016-12-29', '2016-12-30', '2017-01-03', '2017-01-04',
       '2017-01-05', '2017-01-06', '2017-01-09', '2017-01-10', '2017-01-11',
       '2017-01-12', '2017-01-13', '2017-01-17', '2017-01-18', '2017-01-19',
       '2017-01-20', '2017-01-23', '2017-01-24', '2017-01-25', '2017-01-26',
       '2017-01-27', '2017-01-30', '2017-01-31', '2017-02-01', '2017-02-02',
       '2017-02-03', '2017-02-06', '2017-02-07', '2017-02-08', '2017-02-09',
       '2017-02-10', '2017-02-13', '2017-02-14', '2017-02-15', '2017-02-16',
       '2017-02-17', '2017-02-21', '2017-02-22', '2017-02-23', '2017-02-24',
       '2017-02-27', '2017-02-28', '2017-03-01', '2017-03-02', '2017-03-03',
       '2017-03-06', '2017-03-07', '2017-03-08', '2017-03-09', '2017-03-10',
       '2017-03-13', '2017-03-14', '2017-03-15', '2017-03-16', '2017-03-17',
       '2017-03-20', '2017-03-21', '2017-03-22', '2017-03-23', '2017-03-24',
       '2017-03-27', '2017-03-28', '2017-03-29', '2017-03-30', '2017-03-31',
       '2017-04-03', '2017-04-04', '2017-04-05', '2017-04-06', '2017-04-07',
       '2017-04-10', '2017-04-11', '2017-04-12', '2017-04-13', '2017-04-17',
       '2017-04-18', '2017-04-19', '2017-04-20', '2017-04-21', '2017-04-24',
       '2017-04-25', '2017-04-26', '2017-04-27', '2017-04-28', '2017-05-01',
       '2017-05-02', '2017-05-03', '2017-05-04', '2017-05-05', '2017-05-08',
       '2017-05-09', '2017-05-10', '2017-05-11', '2017-05-12', '2017-05-15'],
      dtype='object', name='date')

In [19]:
#first 10 element in oil series
oil_series.iloc[:10]

date
2016-12-20    52.22
2016-12-21    51.44
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
2016-12-28    54.01
2016-12-29    53.80
2016-12-30    53.75
2017-01-03    52.36
2017-01-04    53.26
Name: oil price, dtype: float64

In [20]:
#first 10 element mean
oil_series.iloc[:10].mean()

52.765

In [21]:
#last ten element in oil series
oil_series.iloc[-10:]

date
2017-05-02    47.65
2017-05-03    47.79
2017-05-04    45.55
2017-05-05    46.23
2017-05-08    46.46
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12    47.83
2017-05-15    48.86
Name: oil price, dtype: float64

In [22]:
#last ten element mean
oil_series.iloc[-10:].mean()

47.13

In [23]:
#grab all oil prices from January 1st, 2017 - January 7th, 2017 (inclusive)
#and set the index to the default integer index.

oil_series.loc['2017-01-01':'2017-01-07'].reset_index(drop=True)

0    52.36
1    53.26
2    53.77
3    53.98
Name: oil price, dtype: float64

## Assignment 3: Sorting and Filtering Series

* First, get the 10 lowest prices from the data. 
* Sort the 10 lowest prices by date, starting with the most recent and ending with the oldest price.

* Finally, use the list of provided dates. Select only rows with these dates that had a price of less than 50 dollars per barrel.

In [24]:
oil

            date  dcoilwtico
1     2013-01-02       93.14
2     2013-01-03       92.97
3     2013-01-04       93.12
4     2013-01-07       93.20
5     2013-01-08       93.21
...          ...         ...
1213  2017-08-25       47.65
1214  2017-08-28       46.40
1215  2017-08-29       46.46
1216  2017-08-30       45.96
1217  2017-08-31       47.26

[1175 rows x 2 columns]

In [25]:
oil_price =pd.Series(oil['dcoilwtico'])

In [26]:
#sort_values
lowest_10 = oil_series.sort_values()
lowest_10[0:10]

date
2017-05-04    45.55
2017-05-09    45.84
2017-05-05    46.23
2017-05-08    46.46
2017-03-23    47.00
2017-03-21    47.02
2017-03-27    47.02
2017-03-14    47.24
2017-05-10    47.28
2017-03-22    47.29
Name: oil price, dtype: float64

In [27]:
# list of dates to be used to solve bullet 3

dates = [
    "2016-12-22",
    "2017-05-03",
    "2017-01-06",
    "2017-03-05",
    "2017-02-12",
    "2017-03-21",
    "2017-04-14",
    "2017-04-15",
]

In [28]:
# Create mask to filter to only dates in list of dates and oil price <= 50


mask =(lowest_10.index.isin(dates))&(lowest_10 <=50)

In [29]:
lowest_10.loc[mask]

date
2017-03-21    47.02
2017-05-03    47.79
Name: oil price, dtype: float64

## Assignment 4: Series Operations

* Increase the prices in the oil series by 10%, and add an additional 2 dollars per barrel on top of that.

* Then, create a series that represents the difference between each price and max price.

* Finally, extract the month from the string dates in the index and store them as an integer in their own series.

In [30]:
oil_series * 1.1 +2

date
2016-12-20    59.442
2016-12-21    58.584
2016-12-22    59.178
2016-12-23    59.211
2016-12-27    60.102
               ...
2017-05-09    52.424
2017-05-10    54.008
2017-05-11    54.591
2017-05-12    54.613
2017-05-15    55.746
Name: oil price, Length: 100, dtype: float64

In [31]:
max_price =oil_series.max()

In [32]:
max_price

54.48

In [33]:
difference =pd.Series(oil_series - max_price)/max_price

In [34]:
difference

date
2016-12-20   -0.041483
2016-12-21   -0.055800
2016-12-22   -0.045888
2016-12-23   -0.045338
2016-12-27   -0.030470
                ...
2017-05-09   -0.158590
2017-05-10   -0.132159
2017-05-11   -0.122430
2017-05-12   -0.122063
2017-05-15   -0.103157
Name: oil price, Length: 100, dtype: float64

In [35]:
#  Finally, extract the month from the string dates in the index and store 
# them as an integer in their own series

In [36]:
string_dates = pd.Series(oil_series.index)

In [37]:
string_dates

0     2016-12-20
1     2016-12-21
2     2016-12-22
3     2016-12-23
4     2016-12-27
         ...
95    2017-05-09
96    2017-05-10
97    2017-05-11
98    2017-05-12
99    2017-05-15
Name: date, Length: 100, dtype: object

In [38]:
integer_months = string_dates.str[5:7].astype('int')

In [39]:
integer_months

0     12
1     12
2     12
3     12
4     12
      ..
95     5
96     5
97     5
98     5
99     5
Name: date, Length: 100, dtype: int32

##  Assignment 5: Series Aggregations

* Calculate the sum and mean of prices in the month of March. 

* Next, calculate how many prices were recorded in January and February.

* Then, calculate the 10th and 90th percentiles across all data.

* Finally, how often did integer dollar value (e.g. 51, 52) occur in the data? Normalize this to a percentage.

In [40]:
oil_series

date
2016-12-20    52.22
2016-12-21    51.44
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
              ...
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12    47.83
2017-05-15    48.86
Name: oil price, Length: 100, dtype: float64

In [41]:
# filter the oil_series to month of march (3)

oil_series[oil_series.index.str[5:7]=='03'].sum().round(2)

1134.54

In [42]:
# Filter series to march, calculate mean
 
oil_series[oil_series.index.str[5:7]=='03'].mean().round(2)

49.33

In [43]:
# Filter series to Jan and Feb, count entries

oil_series[oil_series.index.str[5:7].isin(['01','02'])].count()

39

In [44]:
# Calculate 10th and 90th percentiles of oil series using quantile
oil_series.quantile([0.10,.90])

0.1    47.299
0.9    53.811
Name: oil price, dtype: float64

In [45]:
# Return normalized value counts to get percentage of time
# each integer dollar value occurred

oil_series.astype("int").value_counts(normalize=True)

53    0.26
52    0.22
47    0.13
48    0.10
51    0.07
50    0.07
49    0.06
54    0.05
45    0.02
46    0.02
Name: oil price, dtype: float64

##  Assignment 6: Missing Data

There were some erroneous prices in our data, so they were filled in with missing values.

Can you confirm the number of missing values in the price column? 

Once you’ve done that, fill the prices in with the median of the oil price series.

In [55]:
price_series =pd.Series(oil_series.where(~oil_series.isin([51.44,47.88])))

In [56]:
price_series.isna().sum()

1

In [60]:
price_series

date
2016-12-20    52.22
2016-12-21      NaN
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
              ...
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12    47.83
2017-05-15    48.86
Name: oil price, Length: 100, dtype: float64

In [57]:
price_series.fillna(price_series.mean())

date
2016-12-20    52.220000
2016-12-21    51.125152
2016-12-22    51.980000
2016-12-23    52.010000
2016-12-27    52.820000
                ...
2017-05-09    45.840000
2017-05-10    47.280000
2017-05-11    47.810000
2017-05-12    47.830000
2017-05-15    48.860000
Name: oil price, Length: 100, dtype: float64

## Assignment 7: Apply and Where

Write a function that outputs ‘buy’ if price is less than the 90th percentile and ‘wait’ if it’s not. Apply it to the oil series.

Then, create a series that multiplies price by .9 if the date is ‘2016-12-23’ or ‘2017-05-10’, and 1.1 for all other dates.

In [61]:
oil_series

date
2016-12-20    52.22
2016-12-21    51.44
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
              ...
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12    47.83
2017-05-15    48.86
Name: oil price, Length: 100, dtype: float64

In [66]:
percentile = oil_series.quantile(0.9)

In [67]:
percentile

53.811

In [71]:
#lambda function for wait/buy if the value is less than 90 percentile

oil_series.apply(lambda x :"buy" if x < percentile else "wait")

date
2016-12-20    buy
2016-12-21    buy
2016-12-22    buy
2016-12-23    buy
2016-12-27    buy
             ...
2017-05-09    buy
2017-05-10    buy
2017-05-11    buy
2017-05-12    buy
2017-05-15    buy
Name: oil price, Length: 100, dtype: object

In [76]:
np.array(oil_series.apply(lambda x :"buy" if x < percentile else "wait"))

array(['buy', 'buy', 'buy', 'buy', 'buy', 'wait', 'buy', 'buy', 'buy',
       'buy', 'buy', 'wait', 'buy', 'buy', 'buy', 'buy', 'buy', 'buy',
       'buy', 'buy', 'buy', 'buy', 'buy', 'buy', 'buy', 'buy', 'buy',
       'buy', 'wait', 'buy', 'buy', 'buy', 'buy', 'buy', 'buy', 'wait',
       'buy', 'buy', 'buy', 'buy', 'buy', 'wait', 'buy', 'wait', 'wait',
       'wait', 'wait', 'wait', 'buy', 'buy', 'buy', 'buy', 'buy', 'buy',
       'buy', 'buy', 'buy', 'buy', 'buy', 'buy', 'buy', 'buy', 'buy',
       'buy', 'buy', 'buy', 'buy', 'buy', 'buy', 'buy', 'buy', 'buy',
       'buy', 'buy', 'buy', 'buy', 'buy', 'buy', 'buy', 'buy', 'buy',
       'buy', 'buy', 'buy', 'buy', 'buy', 'buy', 'buy', 'buy', 'buy',
       'buy', 'buy', 'buy', 'buy', 'buy', 'buy', 'buy', 'buy', 'buy',
       'buy'], dtype=object)

In [ ]:
# Then, create a series that multiplies price
# by .9 if the date is ‘2016-12-23’ or ‘2017-05-10’,
# and 1.1 for all other dates.

In [80]:
oil_series

date
2016-12-20    52.22
2016-12-21    51.44
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
              ...
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12    47.83
2017-05-15    48.86
Name: oil price, Length: 100, dtype: float64

In [81]:
pd.Series(np.where(oil_series.index.isin(['2016-12-23','2017-05-10']),
         oil_series *0.9,oil_series *1.1))

0     57.442
1     56.584
2     57.178
3     46.809
4     58.102
       ...
95    50.424
96    42.552
97    52.591
98    52.613
99    53.746
Length: 100, dtype: float64