# <center>Time Series</center>

**Time Series** in pandas which leverage the datetime data type to extract date components,group by dates and perform calculation like moving average

## The datetime datatype

In [1]:
from datetime import datetime
now =datetime.now()
now

datetime.datetime(2025, 3, 19, 20, 25, 48, 968517)

In [2]:
type(now)

datetime.datetime

In [3]:
import pandas as pd
import numpy as np

In [11]:
dates = pd.read_csv("retail_2016_2017.csv")

In [19]:
date_table = dates["date"]

In [23]:
date_df = date_table.to_frame()

In [24]:
date_df

               date
0        2016-01-01
1        2016-01-01
2        2016-01-01
3        2016-01-01
4        2016-01-01
...             ...
1054939  2017-08-15
1054940  2017-08-15
1054941  2017-08-15
1054942  2017-08-15
1054943  2017-08-15

[1054944 rows x 1 columns]