# <center>Pandas Dataframe Basics</center>

Pandas Dataframe is equivalent to excel or sql,which is used to store and analyze the data.
* Each column of data in a dataframe is a pandas series that share the same row index.
* The column header works as a column index that contain the series names.

DataFrame have these key properties:
* shape
* index
* columns
* axes
* dtypes

In [2]:
import pandas as pd
import numpy as np

In [3]:
df_oil =pd.read_csv("oil.csv")

In [4]:
df_oil

            date  dcoilwtico
0     2013-01-01         NaN
1     2013-01-02       93.14
2     2013-01-03       92.97
3     2013-01-04       93.12
4     2013-01-07       93.20
...          ...         ...
1213  2017-08-25       47.65
1214  2017-08-28       46.40
1215  2017-08-29       46.46
1216  2017-08-30       45.96
1217  2017-08-31       47.26

[1218 rows x 2 columns]

In [5]:
df_oil.shape

(1218, 2)

In [6]:
df_oil.index

RangeIndex(start=0, stop=1218, step=1)

In [7]:
df_oil.columns

Index(['date', 'dcoilwtico'], dtype='object')

In [8]:
df_oil.axes

[RangeIndex(start=0, stop=1218, step=1),
 Index(['date', 'dcoilwtico'], dtype='object')]

In [10]:
df_oil.dtypes

date           object
dcoilwtico    float64
dtype: object