# <center>Creating a Dataframe

Pandas dataframe can be created using python dictionary or numpy array by using **dataframe()** function.

In [2]:
import pandas as pd
import numpy as np

In [3]:
#creating a simple dataframe using dictionary.

sales_df =pd.DataFrame({'id':[1,2,3,4],
                       'store_nbr':[0,1,2,0],
                       'family':["house",'farm','poultry','house']})

In [4]:
sales_df

   id  store_nbr   family
0   1          0    house
1   2          1     farm
2   3          2  poultry
3   4          0    house

In [5]:
#create a dataframe by using read_csv() function.
retail_df = pd.read_csv("retail_2016_2017.csv")

In [6]:
retail_df

,id,date,store_nbr,family,sales,onpromotion
0,1945944,2016-01-01,1,AUTOMOTIVE,0.000,0
1,1945945,2016-01-01,1,BABY CARE,0.000,0
2,1945946,2016-01-01,1,BEAUTY,0.000,0
3,1945947,2016-01-01,1,BEVERAGES,0.000,0
4,1945948,2016-01-01,1,BOOKS,0.000,0
...,...,...,...,...,...,...
1054939,3000883,2017-08-15,9,POULTRY,438.133,0
1054940,3000884,2017-08-15,9,PREPARED FOODS,154.553,1
1054941,3000885,2017-08-15,9,PRODUCE,2419.729,148
1054942,3000886,2017-08-15,9,SCHOOL AND OFFICE SUPPLIES,121.000,8
1054943,3000887,2017-08-15,9,SEAFOOD,16.000,0

while the read_csv() has more arguments for manipulating the data during the import process,all need is a file path and name to get started.

In [7]:
retail_df.columns

Index(['id', 'date', 'store_nbr', 'family', 'sales', 'onpromotion'], dtype='object')

In [9]:
retail_df.index

RangeIndex(start=0, stop=1054944, step=1)