# <center>Pandas Series</center>

* [<span style='color:purple'>Series Properties](#Series-Properties)
* [<span style='color:purple'>Pandas Datatype and Type conversion](#Pandas-Datatype-and-Type-conversion)

Series are pandas data structure built on top of NumPy arrays.
* Series also contain an index and an optional name,in addition to array of data.
* Two or more series can grouped together form a Pandas DataFrame.

In [11]:
import numpy as np
import pandas as pd

In [12]:
sales =[10,29,30,40,76,54,34,56,78,90,100]

sales_series =pd.Series(sales)

In [13]:
sales_series

0      10
1      29
2      30
3      40
4      76
5      54
6      34
7      56
8      78
9      90
10    100
dtype: int64

## Series Properties

Pandas series have these key properties:
* Values - the data array in the series.
* index - the index array in the series.
* name - the optional name for the series.
* dtype - the data type of element in the value array.

In [14]:
sales_series.values

array([ 10,  29,  30,  40,  76,  54,  34,  56,  78,  90, 100], dtype=int64)

In [15]:
sales_series.index

RangeIndex(start=0, stop=11, step=1)

In [16]:
sales_series

0      10
1      29
2      30
3      40
4      76
5      54
6      34
7      56
8      78
9      90
10    100
dtype: int64

In [17]:
sales_series.dtype

dtype('int64')

In [22]:
number_series = pd.Series(range(10,100,5),name='number')

In [23]:
number_series

0     10
1     15
2     20
3     25
4     30
5     35
6     40
7     45
8     50
9     55
10    60
11    65
12    70
13    75
14    80
15    85
16    90
17    95
Name: number, dtype: int64

In [24]:
number_series.name

'number'

In [25]:
number_series.dtype

dtype('int64')

In [26]:
number_series.values

array([10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90,
       95], dtype=int64)

## Pandas Datatype and Type conversion

Pandas datatype mostly expand on the base python and numpy.
* boolean - Nullable Boolean true/false.
* int64 - Nullable whole numbers.
* float64 -Nullable decimal numbers.
* String -Only contain strings or text.
* Category -maps categorical data to numeric array.

In [28]:
#you can convert data type in a pandas series by using .astype() method
number_series.astype("float")

0     10.0
1     15.0
2     20.0
3     25.0
4     30.0
5     35.0
6     40.0
7     45.0
8     50.0
9     55.0
10    60.0
11    65.0
12    70.0
13    75.0
14    80.0
15    85.0
16    90.0
17    95.0
Name: number, dtype: float64